body{
    background-image: url(https://picsum.photos/1200);
}
.container{
    height: 250px;
    width: 250px;
    background-color: rgba(127, 255, 212, 0.5);
    margin: auto;
    margin-top: 100px;
    padding-top: 10px;
}
h1{
    text-align: center;
}
form{
    text-align: center;
}

input{ border-radius: 10px 3px;
    padding: 10px;
    color: rgba(127, 255, 212, 0.5) ;
    

}
.child{
    margin: 5px;
}
#submit{
    background-color: navajowhite;
    color: black;
}